spring:
  application:
    name: meridian


  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  datasource:
    url: jdbc:mysql://localhost:3306/meridian
    username: root
    password: Elmar-465
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
  mail:
    host: ${SPRING_MAIL_HOST:smtp.gmail.com}
    port: ${SPRING_MAIL_PORT:587}
    username: ${SPRING_MAIL_USERNAME:elmar465@gmail.com}
    password: ${SPRING_MAIL_PASSWORD:resbgpogpjkooxls}
    properties:
      mail:
        smtp:
          auth: ${SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH:true}
          starttls:
            enable: ${SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE:true}
            required: true
            connectiontimeout: 5000
            timeout: 5000
            writetimeout: 5000

file:
  upload-dir: uploads

server:
  port: ${PORT:8081}

jwt:
  secret: mni1T1FvYLls72sdkfBPlvkBRJTERKqOh15X7zuMoQ0=
  expiration: 86400000

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
  packages-to-scan: com.projectnova.meridian.controller

