spring:
  application:
    name: meridian


  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  datasource:
    url: jdbc:mysql://localhost:3306/meridian
    username: root
    password: Elmar-465
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: elmar465@gmail.com
    password: resbgpogpjkooxls
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
            connectiontimeout: 5000
            timeout: 5000
            writetimeout: 5000

file:
  upload-dir: uploads

server:
  port: 8081

jwt:
  secret: mni1T1FvYLls72sdkfBPlvkBRJTERKqOh15X7zuMoQ0=
  expiration: 86400000

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
  packages-to-scan: com.projectnova.meridian.controller

